.about {
  margin-bottom: 50px;
  cursor: default;
}

.about-inner {
  display: grid;
  gap: 10px;
}

.about-title {
  margin-bottom: 20px;
  font-family: 'Roboto Medium';
  font-size: 32px;
  line-height: 38px;
  color: #121212;
}

.inner__description {
  width: 89%;
  font-family: 'Roboto Medium';
  font-size: 32px;
  line-height: 38px;
  text-indent: 30px;
}

@media (max-width: 992px) {
  .about {
    margin-bottom: 21px;
  }

  .about-title {
    font-size: 24px;
    line-height: 28px;
  }

  .inner__description {
    width: 540px;
    font-size: 20px;
    line-height: 23px;
  }
}