.about {
  margin-bottom: 4.6vh;
  cursor: default;
}

.about-inner {
  display: grid;
  gap: 0.8vh;
}

.about-title {
  margin-bottom: 2vh;
  font-family: 'Roboto Medium';
  font-size: 3vh;
  line-height: 38px;
  color: #121212;
}

.inner__description {
  width: 95%;
  font-family: 'Roboto Medium';
  font-size: 2.96vh;
  line-height: 3.51vh;
  text-indent: 2.8vh;
}

@media (max-width: 992px) {
  .about {
    margin-bottom: 2.4vh;
  }

  .about-title {
    font-size: 3.3vh;
  }

  .about-inner {
    gap: 1.1vh;
  }

  .inner__description {
    width: 54vw;
    font-size: 2.76vh;
    line-height: 3.3vh;
    text-indent: 4vh;
  }
}

@media (max-width: 540px) {
  .about {
    margin-bottom: 15px;
  }

  .about-title {
    margin-bottom: 11px;
    font-size: 20px;
    line-height: 23px;
  }

  .about-inner {
    gap: 0.8vh;
  }

  .inner__description {
    width: 90%;
    font-size: 16px;
    line-height: 19px;
    text-indent: 2.2vh;
  }
}