.about {
  margin-bottom: 50px;
}

.about-inner {
  display: grid;
  gap: 10px;
}

.about-title {
  margin-bottom: 20px;
  font-family: 'Roboto Medium';
  font-size: 32px;
  line-height: 38px;
  color: #121212;
}

.inner__description {
  width: 89%;
  font-family: 'Roboto Medium';
  font-size: 32px;
  line-height: 38px;
  text-indent: 30px;
}