.wrapper {
  width: 1920px;
  height: 1080px;
  display: flex;
  background-image: url(../images/fon.jpg);
}

.main {
  
}

.conteiner {
  width: 90%;
  padding-top: 62px;
}

@media (max-width: 992px) {
  .wrapper {
    width: 992px;
    height: 724px;
  }

  .conteiner {
    padding-top: 20px;
    width: 620px;
  }
}

@media (max-width: 540px) {
  .wrapper {
    width: 100%;
    height: 1293px;
    flex-direction: column;
    align-items: center;
  }

  .conteiner {
    width: 390px;
    padding-top: 0
  }
}