/* * {
  margin: 0;
  padding: 0;
} */

/* html,
body, {
  height: 50vh;
  width: 50vw;
} */

.wrapper {
  min-height: 100vh;
  display: flex;
  background-image: url(../images/fon1920px.jpg);
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.conteiner {
  height: 100vh;
  width: 59.5vw;
  padding-top: 5.9vh;
}

@media (max-width: 992px) {
  .wrapper {
    /* width: 992px;
    height: 724px; */
    background-image: url(../images/fon992px.png);
  }

  .conteiner {
    padding-top: 20px;
    width: 531px;
  }
}

@media (max-width: 540px) {
  .wrapper {
    width: 100%;
    height: 1293px;
    flex-direction: column;
    align-items: center;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .main {
    
  }

  .conteiner {
    width: 390px;
    padding-top: 0
  }
}