
.wrapper {
  display: flex;
  background-image: url(../images/fon1920px.jpg);
  background-repeat: no-repeat;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.conteiner {
  width: 90%;
  padding-top: 5.9vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 1600px) {
  .conteiner {
    gap: 25px;
  }
}

@media (max-width: 1152px) {
  .conteiner {
    padding-top: 24px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    width: 992px;
    background-image: url(../images/fon992px.png);
  }
}

@media (max-width: 540px) {
  .wrapper {
    width: 540px;
    /* height: 1293px; */
    flex-direction: column;
    align-items: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(../images/fon540.png);
  }

  /* .main {
    width: 100vw;
  } */

  .conteiner {
    /* height: 100%; */
    width: 390px;
    /* padding-top: 0 */
  }
}