.form {
  width: 36.65vw;
}

.form-item {
  width: 36.6vw;
  margin-bottom: 2.3vh;
  display: inline-flex;
  justify-content: space-between;
}

.form__input {
  width: 16.8vw;
  height: 6vh;
  padding-left: 13px;
  border-radius: 11px;
  border: 1px solid #121212;
  background-color: #FFFFFF;
  font-family: 'Roboto Medium';
  color: #121212;
  font-size: 2.5vh;
  /* padding: 14px 152px 14px 13px; */
  /* line-height: 38px;
  margin-bottom: 25px; */
}

.form__input::placeholder {
  /* padding: 14px 152px 14px 13px; */
  font-family: 'Roboto Medium';
  color: #121212;
  font-size: 3vh;
  /* line-height: 38px; */
}

.form__submit {
  width: 36.5vw;
  height: 6vh;
  border: none;
  background-color: #121212;
  font-family: 'Roboto Medium';
  border-radius: 11px;
  font-size: 3vh;
  /* line-height: 38px; */
  color: #FFFFFF;
}

.form__submit:hover {
  background-color: #414141;
  transition: 0.3s ease-in;
}

.form__submit:focus {
  opacity: 0.7;
  transition: 0.3s ease-in;
}

@media (max-width: 992px) {
  .form {
    width: 48.8vw;
  }

  .form-item {
    width: 48.8vw;
    margin-bottom: 2.7vh;
  }

  .form__input {
    width: 21.6vw;
    height: 6.2vh;
  }

  .form__input::placeholder {
    /* padding: 14px 152px 14px 13px; */
    
  }

  .form__input::placeholder, .form__input {
    font-size: 3.3vh;
    /* line-height: 28px; */
  }

  .form__submit {
    width: 100%;
    height: 6.6vh;
    font-size: 3.3vh;
    /* line-height: 28px; */
  }
}

@media (max-width: 540px) {
  .form {
    width: 100%;
  }

  .form-item {
    width: 100%;
    display: inline-flex;
    margin-bottom: 16px;
  }

  .form__input::placeholder, .form__input {
    font-size: 16px;
    line-height: 19px;
  }

  .form__input {
    width: 166px;
    height: 32px;
    margin-bottom: 0;
  }

  .form__submit {
    width: 100%;
    height: 35px;
    font-size: 16px;
    line-height: 19px;
  }
}