.form {
  width: 725px;
}

.form__input {
  width: 331px;
  height: 62px;
  margin-right: 22px;
  border-radius: 11px;
  border: 1px solid #121212;
  background-color: #FFFFFF;
  font-family: 'Roboto Medium';
  color: #121212;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 25px;
}

.form__input::placeholder {
  padding: 14px 152px 14px 13px;
  font-family: 'Roboto Medium';
  color: #121212;
  font-size: 32px;
  line-height: 38px;
}

.form__submit {
  width: 702px;
  height: 66px;
  background-color: #121212;
  font-family: 'Roboto Medium';
  border-radius: 11px;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}