.preview {
  /* height: 1080px; */
  position: relative;
  margin-right: 69px;
}

.preview__image {
  /* width: 638px;
  height: 1080px; */
}

.preview__caption {
  padding: 14px 96px;
  background-color: #121212;
  font-family: 'Roboto Regular';
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  position: absolute;
  top: 977px;
  cursor: default;
}

@media (max-width: 992px) {
  .preview {
    margin-right: 45px;
  }

  .preview__image {
    width: 372px;
    height: 658px;
  }

  .preview__caption {
    position: static;
    padding: 12px 60px;
    font-size: 36px;
    line-height: 42px;
  }
}