.subject {
  margin-bottom: 5vh;
}

.subject__title {
  font-family: 'Roboto Medium';
  font-size: 4.43vh;
  margin-bottom: 2.5vh;
  cursor: default;
  color: #121212;
}

.subject__town {
  font-family: 'Roboto Medium';
  font-size: 2.2vh;
  margin-bottom: 4.8vh;
  cursor: default;
  color: #121212;
}

.subject__list {
  display: flex;
}

.subject__link {
  text-decoration: none;
  margin-right: 1.55vw;
}

.subject__link:hover {
  opacity: 0.7;
  transition: 0.3s ease-in;
}

.subject__link:focus {
  outline: none;
  opacity: 0.7;
  transition: 0.3s ease-in;
}

@media (max-width: 992px) {

  .subject {
    margin-bottom: 4.6vh;
  }

  .subject__title {
    margin-bottom: 3.2vh;
  }

  .subject__town {
    margin-bottom: 4.3vh;
    font-size: 20px;
    line-height: 23px;
  }

  .subject__link {
   margin-right: 3vw;
  }
}

@media (max-width: 540px) {
  .subject {
    margin-bottom: 15px;
  }

  .subject__title {
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 28px;
  }

  .subject__town {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
  }

  .subject__link {
    margin-right: 5.6vw;
  }

  .subject__link-img {
    width: 32px;
    height: 32px;
  }
}
