.subject {
  margin-bottom: 54px;
}

.subject__title {
  font-family: 'Roboto Medium';
  font-size: 48px;
  margin-bottom: 28px;
  cursor: default;
  color: #121212;
}

.subject__town {
  font-family: 'Roboto Medium';
  font-size: 24px;
  margin-bottom: 51px;
  cursor: default;
  color: #121212;
}

.subject__list {
  display: flex;
}

.subject__link {
  text-decoration: none;
  margin-right: 30px;
}

.subject__link:hover {
  opacity: 0.7;
  transition: 0.3s ease-in;
}

@media (max-width: 992px) {

  .subject {
    margin-bottom: 30px;
  }

  .subject__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }

  .subject__town {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 23px;
  }
}