.technologies__title {
  font-family: 'Roboto Medium';
  font-size: 32px;
  cursor: default;
  color: #3B3A63;
}

.technologies__list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.technologies__link {
  display: flex;
  background-color: #3B3A63;
  padding: 14px 55px;
  border-radius: 45px;
  text-decoration: none;
  font-family: 'Roboto Medium';
  color: #FFFFFF;
  font-size: 32px;
}

.technologies__link:hover {
  opacity: 0.7;
  transition: 0.3s ease-in;
}

.technologies__link:focus {
  opacity: 0.7;
  transition: 0.3s ease-in;
}

@media (max-width: 1600px) {
  .technologies__title {
    font-size: 24px;
  }

  .technologies__link {
    font-size: 24px;
  }
}

@media (max-width: 1440px) {
  .technologies__title {
    font-size: 20px;;
  }

  .technologies__link {
    font-size: 20px;
}
}

@media (max-width: 1152px) {
  .technologies__title {
    font-size: 18px;
  }

  .technologies__list {
    gap: 18px;
  }

  .technologies__link {
    font-size: 18px;
    padding: 12px 32px;
  }
}

@media (max-width: 992px) {
  /* .technologies {
    margin-bottom: 3.4vh;
  } */

  /* .technologies__list {
    flex-wrap: wrap;
  } */

  /* .technologies__link {
    padding: 0.7vh 4.55vw;
    font-size: 3.3vh;
  } */
}

@media (max-width: 540px) {
  /* .technologies {
    margin-bottom: 16px
  } */

  .technologies__title {
    /* margin-bottom: 11px; */
    font-size: 20px;
    /* line-height: 23px; */
  }

  .technologies__list {
    gap: 9px 21px;
  }
  
  .technologies__link {
    font-size: 16px;
    /* line-height: 19px; */
    padding: 8px 35px;
  }
}
