.technologies {
  margin-bottom: 50px;
}

.technologies__title {
  font-family: 'Roboto Medium';
  font-size: 32px;
  margin-bottom: 23px;
  cursor: default;
  color: #121212;
}

.technologies__list {
  display: flex;
  gap: 26px;
}

.technologies__link {
  display: flex;
  background-color: #414141;
  padding: 14px 55px;
  border-radius: 45px;
  text-decoration: none;
  font-family: 'Roboto Medium';
  color: #FFFFFF;
  font-size: 32px;
  line-height: 38px;
}

.technologies__link:hover {
  opacity: 0.7;
  transition: 0.3s ease-in;
}

@media (max-width: 992px) {
  .technologies {
    margin-bottom: 28px;
  }

  .technologies__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .technologies__list {
    /* display: flex; */
    
    flex-wrap: wrap;
    gap: 21px;
  }

  .technologies__link {
    padding: 10px 45px;
    font-size: 24px;
    line-height: 28px;
  }
}